// color.scss

$white: #fff;
$black: #000;

$white-gray: #f8f8f8;
$lighter-gray: #eee ;    //#ededed
$light-gray: #b5b5b6;
$middle-light-gray: #7f8180;
$gray: #6a6c6b;     //#707070, #717171
$middle-dark-gray: #49494b;
$dark-gray: #3f3b3a;     //#3e3a39
$darker-gray: #2d3035;

$orange: #f86a12;
$blue: #1483cb;
$red: #fc372e;
$green: #1ab19e;
$about: #354759;

$git-blue: #2b71b2;
$git-red: #c32748;
$git-green: #0594a2;

$infoq-blue: #0078c5;
$infoq-green: #00c7b0;

$bg-home: #fff0d7;

$footer-border: #1f1f1f;
$footer-shadow: #4d4d4d;
